<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUoH9Uy2VrEkTvn5z43qpjWjGKXYe-r2k</string>
	<key>GCM_SENDER_ID</key>
	<string>661878553830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.delegation1</string>
	<key>PROJECT_ID</key>
	<string>delegation-8ea8f</string>
	<key>STORAGE_BUCKET</key>
	<string>delegation-8ea8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661878553830:ios:3ee6b07b7fdc2c7efecf27</string>
</dict>
</plist>